.container {
  width: 240px;
  background-color: #f9f9f9;
  border-right: 1px solid #eee;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}